<div>
  <div class='formContainerMesagges'>

    <h4 class="titleMesagges infoData ">
    Argumentos de entrada:<br>
    {{dataInfo.args}}
    </h4>
    
    <h4 class="titleMesagges infoData ">
    Plataforma:<br>
    {{dataInfo.plataforma}}
    </h4>

    <h4 class="titleMesagges infoData ">
    Versión de Node:<br>
    {{dataInfo.Node}}
    </h4>

    <h4 class="titleMesagges infoData ">
    Memoria:<br>
    {{dataInfo.memoria}}
    </h4>

    <h4 class="titleMesagges infoData ">
    Path de ejecución:<br>
    {{dataInfo.ruta}}
    </h4>

    <h4 class="titleMesagges infoData ">
    Process id:<br>
    {{dataInfo.proceso}}
    </h4>

    <h4 class="titleMesagges infoData ">
    Carpeta del proyecto:<br>
    {{dataInfo.carpeta}}
    </h4>

  </div>
</div>