<div id="productsView" class="productContainer">  
    <h2 class="title">Productos disponibles</h2>
        {{#if products.length}}
            <div class="titleHeader"><h5 class="titleNombre">Nombre</h5><h5 class="titlePrecio">Precio</h5><h5 class="titleFoto">Foto</h5></div>
            {{#each products}}
                <div class="productData">
                    <div class="productTitle"><h5 id="productTitle"> {{this.title}}</h5></div>
                    <div class="productPrice"><h5 id="productPrice">${{this.price}}</h5></div>
                    <button class="btnAdd" id={{this.id}}>Agregar al carrito</button>
                    <div class="productThumbnail"><img id="productThumbnail"  src={{this.thumbnail}} alt=""></img></div>
                </div>
            {{/each}}

            {{else}}
                <h2 class="title">No hay productos</h2>
        {{/if}}
</div>

